@charset "UTF-8";
/*最新公告*/
.gg_cr{height:51px; width:100%;  line-height:51px; background:url(../images/gg_cr.jpg) repeat-x; }
.gg_cr_0{width:1200px; margin:0 auto;}
.gg_cr_01{display:block; float:left; width:124px; background:url(../images/xw.png) no-repeat 0px center; font-size:14px; text-align:center; color: #0055bf; padding-left: 30px;}
.gg_cr_02{display:block; float:left; width:1040px; font-size:14px; color:#0055bf;}
.gg_cr_02 a{color:#0055bf;}
.gg_cr_a{display:block; float:right; width:60px; text-align:center; font-size:15px; color:#0055bf;}

/*最新公告end*/

/*大幻灯*/
/*订票框*/
.ticket-sousuo{
    position:absolute;
    z-index: 999; 
    display: block;
    width: 100%;
}
.ticket-sousuo .ticket-badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
line-height: 1;
white-space: nowrap;
vertical-align: middle;
}
.ticket-sousuo .slideTxtBox{width:492px; height:409px;text-align:left; margin: 0 auto;  position: relative;left: 358px; top: 50px; background: url(../images/slideTxtBox-bg.png) center no-repeat; padding: 15px 10px; border-radius: 18px;}
.ticket-sousuo .slideTxtBox .hd{ height:45px; line-height:45px;padding:0px;  position:relative; }
.ticket-sousuo .slideTxtBox .hd ul{ float:left;  position:absolute; }
.ticket-sousuo .slideTxtBox .hd ul li{width: 137px;   height:43px;float:left;  cursor:pointer;font-size: 24px; position: relative; text-align: center; font-weight: bold; margin-right: 60px;}
.ticket-sousuo .slideTxtBox .hd ul li.on{ background: url(../images/btn-01.png) center no-repeat;  color: #fff;}
.ticket-sousuo .slideTxtBox .bd{ padding: 10px 15px;  zoom:1; }
.ticket-sousuo .slideTxtBox .bd ul{ zoom:1;  }
.ticket-sousuo .s_item_cont .s_item label{ width: 103px; font-size: 18px; font-weight: normal;}


.ticket-tab {
    margin: 0px 0px 0px 0px;
}
.ticket-tab .st-tabnav span i {
    background: url(/res/images/ticket/img-active-h3-blue.png) no-repeat center bottom;
}

.ticket-tab .st-tabnav .on {
    color: #4e8bd2;
}
.ticket-tab .st-tabnav .on i {
    display: inline-block;
}
.ticket-tab .st-tabnav span {
    float: left;
    color: #333;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 13px;
    cursor: pointer
}

.ticket-tab .st-tabnav .city-more {
    text-align: right;
    font-size: 12px;
     color:#808080;
     float:right; 
     display: block;
    }
.ticket-tab .st-tabnav {
    height: 40px;
    border-bottom: 2px solid #ddd;
    line-height: 40px;
}

.ticket-tab .st-tabnav span {
    position: relative;
}

.ticket-tab .st-tabnav span i {
    position: absolute;
    display: none;
    width: 100%;
    height: 7px;
    left:10px;
    margin-left: -10px;
    bottom: -2px;
}

.s_item{
    float: left;
    display: inline;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    line-height: 50px;
    text-align: left;
    height: 50px;
    display: inline;
    float: left;
    width:100%;
    margin-bottom:5px;
}
.s_item .inputSel{
    border:1px solid #cbcbcb;
    height:38px;
    line-height: 38px;
    color:#9e9e9e;
    margin-right:10px;
    padding-left:5px;

}
.s_item .caxun-btn{
   width: 137px;
   height: 46px;
    float: left;
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-right: 60px;
    background: #e00501;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    left: 108px;
}
.s_item .fabu-btn{ 
       position: relative;
       left: 50px;}
.s_item.s_item_radio{ height: 35px; }
.s_item .w01 {
width: 152px;
}
.s_item .ticket-badge {
width: 40px; text-align: center;
}
.border-gongtong{
    -moz-border-radius: 5px; /* Firefox */
  -webkit-border-radius: 5px; /* Safari 和 Chrome */
  border-radius: 5px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  behavior: url(ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
}
.s_item input[type=radio]{margin-top: 15px; height: auto; margin-left: 15px;}
.s_item input[type=button]{width: 189px; height: 33px; background: url(../images/ticket/ticket-search-btn.gif); margin-right: 25px; cursor: pointer;}
.s_item .HD_Date{background: url(../images/ticket/ticket-input-datebg.gif) 180px center no-repeat;}
/*订票框*/

/*大幻灯*/

/*货源信息*/
.huoyuan-xx .title_01{ height: 62px; background: url(../images/huoyuanxinxi.png) center no-repeat; text-indent: -3000px; margin-bottom: 0px;}
.huoyuan-xx .panel {
    position: relative;
    border: 1px solid #a3b4cb;
    border-radius: 10px;
    background: url(../images/table-bg.png) repeat-x;
    z-index: 1;
}
.huoyuan-xx .panel .table-foot{
 background: url(../images/table-foot-bg.png) repeat-x; position: absolute; bottom: 0px;  height: 110px; z-index: -1; width: 1198px;border-radius: 10px;
  }
.huoyuan-xx .table{
 background: url(../images/thead-bg.png) center 20px no-repeat; border: none;
  }

.huoyuan-xx .thead{
border: none;
  }
.huoyuan-xx thead tr th{
 color: #0a3e93; font-weight: bold;font-size: 16px;line-height: 60px; height: 60px; text-indent: 20px;
  }
.huoyuan-xx tbody tr th,.huoyuan-xx tbody tr td{ text-indent: 20px;
  }
.huoyuan-xx thead tr th.cakan{text-indent: 45px;}
/*货源信息end*/

/*车源信息*/
.huoyuan-xx .title_01{ height: 62px; background: url(../images/cheyuanxinxi.png) center no-repeat; text-indent: -3000px; margin-bottom: 0px;}

/*车源信息end*/

/*文章列表*/
.wenzhang .wenzhang-left{width: 780px;}
.wenzhang .wenzhang-left .panel-default,.wenzhang .wenzhang-right .panel-default {
    border: none; background: #f5f5f5;
}
.wenzhang .wenzhang-left .panel-heading,.wenzhang .wenzhang-right .panel-heading{background-color: #ebebeb;border-color: #ebebeb; position: relative; }
.wenzhang .wenzhang-left  .panel-heading .panel-title,.wenzhang .wenzhang-right  .panel-heading .panel-title {
      width: 130px;
    font-size: 21px;
    color: #fff;
    background: #0055bf;
    margin: -10px -15px;
    padding: 10px 15px;
}
.wenzhang .wenzhang-left  .panel-heading .more,.wenzhang .wenzhang-right  .panel-heading .more{display: block; float: right; font-size: 12px; color: #666; position: absolute; right: 15px; top: 15px;}
.wenzhang .wenzhang-left  .media-body{font-size: 12px; line-height: 2em; color: #666;}
.wenzhang .wenzhang-right{width: 400px; }
.wenzhang .wenzhang-right .media {
    padding-bottom: 23px; border-bottom: #d8d8d8 solid 1px;
}
.wenzhang .wenzhang-right .media-body {font-size: 12px; color: #666;}
.wenzhang .wenzhang-right .media-body .media-heading{font-size: 12px; color: #333; font-weight: bold;}
/*文章列表end*/




































