html,body {
    padding: 0;
    margin: 0
}

.bt span {
    position: absolute;
    top: -999em
}


.qc_share_icon {
    background-repeat: no-repeat;
    display: block;

}

.qc_share_icon .bt_icon,.qc_share_btn_blue .bt {
    display: block
}

.qc_share_icon .bt_icon span {
    position: absolute!important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0!important;
    border: 0!important;
    height: 1px!important;
    width: 1px!important;
    overflow: hidden
}

.qc_share_icon_1 .bt_icon {
    background-image: url(../images/share_icon.jpg);
    background-position: 0 0;
    width: 32px;
    height: 32px
}

.qc_share_icon_2 .bt_icon {
    background-image: url(../images/share_icon.jpg);
    background-position: -56px 0px;
    width: 24px;
    height: 22px
}

.qc_share_icon_3 .bt_icon {
    background-image: url(../images/share_icon.jpg);
    background-position: 0 -56px;
    width: 16px;
    height: 16px
}

.qc_share_btn_blue_1 .bt {
    width: 96px;
    height: 24px;
    background-image: url(../images/qq_share_button.png);
    background-position: 0 0
}

.qc_share_btn_blue_2 .bt {
    width: 63px;
    height: 24px;
    background-image: url(../images/qq_share_button.png);
    background-position: 0 -24px
}

.qc_share_btn_blue_3 .bt {
    width: 50px;
    height: 16px;
    background-image: url(../images/qq_share_button.png);
    background-position: 0 -48px
}
